In [4]:
#if else to print the grade
score = 85
if(score>=90):
    grade='A'
else:  
    grade='B'
    
print('the current grade=',grade)

the current grade= B

In [5]:
#if elif else
score = 70
if(score>=90): grade='A'
elif(score>=80): grade='B'
elif(score>=70): grade='C'
else: grade='D'
    
print('the current grade=',grade)

the current grade= C

In [9]:
#while loop to print the numbers from 1 to 100
n=1

while(n<=100):
    print(n,end=' ')
    n=n+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [8]:
# using if condition to print the even numbers from 1 to 100
n=1

while(n<=100):
    if(n%2==0):
        print(n,end=' ')
    n=n+1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [10]:
# USING WHILE LOOP TO PRINT THE NUMBERS FROM 1 TO 100 AND APPENDING TO A LIST
n=1
A=[]

while(n<=100):
    if(n%10==0):
        A.append(n)
    n=n+1
print(A)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#print square of numbers from 1 to 100 using while loop

In [14]:
n=1
while(n<=100):
    sq=n**2
    n=n+1
    print(sq,end=' ')

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000

In [23]:
#FOR LOOP
A=(1,2,3,4)
for x in A:
    print(x,end=' ')

1 2 3 4

In [37]:
#print the dictionary keys and values 
d={'john': 23 , 'mary': 12, 'charles': 40}
print(d.keys(),d.values())

dict_keys(['john', 'mary', 'charles']) dict_values([23, 12, 40])

In [44]:
#print the dictionary keys and values using for loop
dictionary={'john': 23 , 'mary': 12, 'charles': 40}
for dict in dictionary:
    print(dict,dictionary[dict])

john 23
mary 12
charles 40

In [ ]:
# print the string using for loop
string='hello world'
for s in string:
    print(s,end=' ')

In [1]:
#print the string using for loop without space 
string='hello world'
for s in string:
    if(s!=' '):
        print(s,end='')

helloworld

In [61]:
#print the string using for loop, each letter of the string should be printed five times
string='hello world'
for s in string:
    if(s!=' '):
        print(s*5,end=' ')

hhhhh eeeee lllll lllll ooooo wwwww ooooo rrrrr lllll ddddd

In [2]:
#print the string using break and continue statements without printing space(using while loop)
#continue- goes to the beginning of the loop
#break- goes out of the loop(terminates)
#print()- prints in a new line(to separate two programs)
s="Hello World"

x=0
while(x<len(s)):
    if(s[x]==' '):
        x=x+1
        continue 
    print(s[x],end=' ')
    x=x+1
 
print()

s='Hello World'

x=0
while(x<len(s)):
    if(s[x]==' '):
        x=x+1
        break
    print(s[x],end=' ')
    x=x+1

H e l l o W o r l d
H e l l o

In [23]:
# to print the string's length
s="Hello World"
print(len(s))

11

In [28]:
#print the string using break and continue statements without printing space(using for loop)
string="Hello World"

for char in string:
    if(char==' '):
        continue
    print(char,end=' ')
    
print() 

string='Hello World'

for char in string:
    if(char==' '):
        break
    print(char,end=' ')

H e l l o W o r l d
H e l l o

In [38]:
string="Hello World"

for char in string:
    print(char,end=' ')

else:
    print("\ndone")

H e l l o   W o r l d
done

In [1]:
#range function
#range ignores the upper bound value
#range(start)->range(10)
#range(start,stop)->range(5,10)
#range(start,stop,end)->range(5,50,4)

x=range(10)
type(x)

range

In [2]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
x=range(6,70,10)

In [4]:
list(x)

[6, 16, 26, 36, 46, 56, 66]

In [22]:
#for loop to print even numbers upto 100

for even in range(1,100):
    if(even%2==0):
        print(even,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [23]:
#for loop to print even numbers upto 99

for even in range(1,99):
    if(even%2==0):
        print(even,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [24]:
#for loop to print odd numbers upto 99

for odd in range(1,99):
    if(odd%2!=0):
        print(odd,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97

In [25]:
#for loop to print even numbers from 100 to 2

for even in range(100,2,-1):
    if(even%2==0):
        print(even,end=' ')

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4

In [26]:
#for loop to print even numbers from 99 to 1

for even in range(99,1,-1):
    if(even%2==0):
        print(even,end=' ')

98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [27]:
#for loop to print odd numbers from 99 to 1

for odd in range(99,1,-1):
    if(odd%2!=0):
        print(odd,end=' ')

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3