In [96]:
scores={'John':80,'Adam':40,'Will':75,'Bob':90}
type(scores)

dict

In [4]:
len(scores)

4

In [97]:
scores

{'John': 80, 'Adam': 40, 'Will': 75, 'Bob': 90}

In [98]:
scores['Alex']=95
scores

{'John': 80, 'Adam': 40, 'Will': 75, 'Bob': 90, 'Alex': 95}

In [14]:
list(scores)

['John', 'Adam', 'Will', 'Bob', 'Alex']

In [17]:
scores.keys()

dict_keys(['John', 'Adam', 'Will', 'Bob', 'Alex'])

In [19]:
scores.values()

dict_values([80, 40, 75, 90, 95])

In [21]:
scores['Will']

75

In [23]:
scores['Tim']

KeyError: 'Tim'

In [46]:
sorted(scores)

['Adam', 'Alex', 'Bob', 'John', 'Will']

In [47]:
scores

{'John': 80, 'Adam': 40, 'Will': 75, 'Bob': 90, 'Alex': 95}

In [32]:
del scores['Adam']
scores

KeyError: 'Adam'

In [34]:
scores

{'John': 80, 'Will': 75, 'Bob': 90}

In [19]:
scores['Alex']=95
scores

{'John': 80, 'Adam': 40, 'Will': 75, 'Bob': 90, 'Alex': 95}

In [41]:
#to convert the list into dictionary
marks=dict([('Cathy',40),('David',20),('Tom',46),('Mike',30)])
marks

{'Cathy': 40, 'David': 20, 'Tom': 46, 'Mike': 30}

In [43]:
#to convert the tuple into dictionary
marks=dict((('Cathy',40),('David',20),('Tom',46),('Mike',30)))
marks

{'Cathy': 40, 'David': 20, 'Tom': 46, 'Mike': 30}

In [45]:
list(marks)
marks

{'Cathy': 40, 'David': 20, 'Tom': 46, 'Mike': 30}

In [47]:
marks.keys()

dict_keys(['Cathy', 'David', 'Tom', 'Mike'])

In [49]:
marks.values()

dict_values([40, 20, 46, 30])

In [1]:
#using dictionary to find the powers of 2
sq=[]
for x in range(0,5):
    sq.append({x:x**2})

sq

[{0: 0}, {1: 1}, {2: 4}, {3: 9}, {4: 16}]

In [6]:
#using list comprehension
sq1={x:x**2 for x in range(0,5)}
sq1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [8]:
sq1.keys()

dict_keys([0, 1, 2, 3, 4])

In [10]:
sq1.values()

dict_values([0, 1, 4, 9, 16])

In [12]:
sq1.items()

dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)])

In [14]:
len(sq1)

5

In [21]:
scores

{'John': 80, 'Adam': 40, 'Will': 75, 'Bob': 90, 'Alex': 95}

In [23]:
'Bob' in scores

True

In [25]:
'Joe'not in scores

True

In [27]:
list(scores)

['John', 'Adam', 'Will', 'Bob', 'Alex']

In [29]:
tuple(scores)

('John', 'Adam', 'Will', 'Bob', 'Alex')

#iterator is an object that contains a countable number of values.
#An iterator is an object that can be iterated upon.ie we can traverse through the values.
#iterator is an object which implements the iterator protocol and consists of methods iter() and next()
#strings,list and tuples are iterable objects and can return an iterator

In [100]:
s=iter(scores)
type(s)

dict_keyiterator

In [101]:
for dict in s:
    print(dict)

John
Adam
Will
Bob
Alex

In [102]:
scores

{'John': 80, 'Adam': 40, 'Will': 75, 'Bob': 90, 'Alex': 95}

In [73]:
s=iter(scores)
    
print(next(s))    
print(next(s))
print(next(s))

John
Adam
Bob

In [70]:
scores.pop('Will')
scores

KeyError: 'Will'

In [84]:
scores['Will']=100
scores

{'Will': 100}

In [87]:
#popitem() randomly pops the item out
scores.popitem()
scores

{}

In [1]:
scores={'John':20,'Adam':50,'Will':20,'Bob':50,'Alex':100}
scores

{'John': 20, 'Adam': 50, 'Will': 20, 'Bob': 50, 'Alex': 100}

#dictionary object methods: iter(),pop(),popitem(),clear(),next()

#DICTIONARY VIEW OBJECTS

In [4]:
scores

{'John': 20, 'Adam': 50, 'Will': 20, 'Bob': 50, 'Alex': 100}

In [6]:
sv=scores.values()
sv

dict_values([20, 50, 20, 50, 100])

In [7]:
#changing bob's score
scores['Bob']=70
scores

{'John': 20, 'Adam': 50, 'Will': 20, 'Bob': 70, 'Alex': 100}

In [8]:
sv

dict_values([20, 50, 20, 70, 100])

In [10]:
#Summing the scores
sum=0
for s in sv:
    sum=sum+s
    
print(sum)

260

In [14]:
scores

{'John': 20, 'Adam': 50, 'Will': 20, 'Bob': 70, 'Alex': 100}

In [16]:
si=scores.items()
si

dict_items([('John', 20), ('Adam', 50), ('Will', 20), ('Bob', 70), ('Alex', 100)])

In [17]:
for k,v in si:
    print(k,v)

John 20
Adam 50
Will 20
Bob 70
Alex 100

In [20]:
#using iterator method
ite=iter(si)
type(ite)

dict_itemiterator

In [21]:
for i in ite:
    print(i)

('John', 20)
('Adam', 50)
('Will', 20)
('Bob', 70)
('Alex', 100)

In [22]:
scores

{'John': 20, 'Adam': 50, 'Will': 20, 'Bob': 70, 'Alex': 100}

In [24]:
sk=scores.keys()
sk

dict_keys(['John', 'Adam', 'Will', 'Bob', 'Alex'])

In [25]:
for keys in sk:
    print(keys)

John
Adam
Will
Bob
Alex